.box{
    width: 200px;
    height: 100px;
    background-color: brown;
    border:solid black 2px;
}

.box2{
    margin-left: auto;
    margin-right: auto;
    background-color: azure;

}

.box3{
    margin-left: auto;
    background-color: cadetblue;
}