#first{
    color: blueviolet;
    text-align: center;
}

#second{
    color: brown;
    text-align: center;
}





h3{
    color: brown;
    text-align: center;
    text-decoration: underline;
}

span{
    color: brown;
    text-decoration:line-through ;
}

.text-danger{
    color: red;
}

.text-success{
    color: green;
}

.text-dec-underline{
    text-decoration: underline;

}